<div class="main">
    <mat-card class="card">
        <div class="input-form">
            <label>Gebe die Id des Objekts ein: </label>
            <input #input placeholder="Id" type="number" class="input-field">
            <button mat-raised-button (click)="getAggregation(input.valueAsNumber)">Submit</button>
        </div>
    </mat-card>
    <br>
    <div class="container">
        <div *ngFor="let card of ChangeCards">
            <app-change-card [changeCard]="card"></app-change-card>
        </div>
    </div>
</div>