.main {
    color: indigo;
    margin-top: 2rem;
}

.input-form {
    margin: 1rem 0 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.input-field {
    min-width: 3rem;
}

.card {
    width: 50%;
    margin: auto;
    border-radius: 2rem;
}