.container {
    background-color: #3f51b5;
    height: 5rem;
    margin: 1rem 0.5rem 0 0.5rem;
    padding: 2rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    user-select: none;
}

label {
    font-size: 3rem;
    margin: 2rem;
}