.card {
    margin: 2rem auto 1rem auto;
    width: 50%;
    border-radius: 2rem;
}

.main {
    color: indigo;
}

.input-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}